<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Administrez vos annonces</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="doPassword()" >Nouveau mot de passe.</button>
        </label>
      </div>
    </form>
    <center>Pour ouvrir un compte, merci d'ajouter une annonce et vous recevrez un courriel avec vos informations de connexion.</center>
  </ion-content>
</ion-modal-view>
