<ion-view view-title="Carte">
    <ion-content> 
       <div id="slider" class="clearfix row" data="issues" 
		    slick-slider="{infinite: true,
		      slidesToShow: 5,
	    	  slidesToScroll: 5,
	    	  autoplay: true,
	    	  autoplaySpeed: 4000}">
		    <div class="my-slide" ng-repeat="(key, value) in issues">
		        <sum></sum>    
		    </div>
	  </div>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <!--  
    <ion-footer-bar class="bar-dark">
    </ion-footer-bar>
    -->
</ion-view>
